<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
  <div class="shadow-sm w-1/2 p-10 bg-white rounded-md">
    <h1 class="text-xl font-bold">Reset password?</h1>

    <p class="text-base text-slate-900 font-medium mt-3">Email address</p>
    <input
      type="email"
      name="email"
      class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="Email"
      [(ngModel)]="resetPassword.email"
    />

    <p class="text-base text-slate-900 font-medium mt-3">New Password</p>
    <input
      type="password"
      name="password"
      class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md"
      placeholder="Password"
      [(ngModel)]="resetPassword.newPassword"
    />

    <button
      (click)="resetPasswordHandle()"
      class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2"
      [disabled]="!resetPassword.email || !resetPassword.newPassword"
    >
      Reset password
    </button>
  </div>
</div>
